USE [DB_EcommerceAgent]
GO

CREATE OR ALTER PROCEDURE [dbo].[USP_AGENT_SEARCH_PRODUCTS]
    @i_FilterText VARCHAR(100),
    @o_ResultCode INT OUTPUT,
    @o_ResultMessage VARCHAR(500) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    
    BEGIN TRY
        -- 1. Validación inicial
        IF @i_FilterText IS NULL OR LTRIM(RTRIM(@i_FilterText)) = ''
        BEGIN
            SET @o_ResultCode = 400;
            SET @o_ResultMessage = 'El texto de búsqueda no puede estar vacío.';
            
            -- Estructura de contingencia vacía idéntica para no romper inserts superiores
            SELECT TOP 0 
                P.ProductID, 
                P.ProductName, 
                P.ProductVariableName, 
                P.ProductVariablePrice, 
                P.CurrencyISO, 
                P.CategoryName, 
                P.SubcategoryName, 
                P.SegmentName, 
                P.MarkName, 
                SUM(P.StockAvilable) AS [StockAvilable]
            FROM DB_ECOMMERCE.SQM_GENERAL.VW_GENERAL_PRODUCTS P 
            GROUP BY P.ProductID, P.ProductName, P.ProductVariableName, P.ProductVariablePrice, P.CurrencyISO, P.CategoryName, P.SubcategoryName, P.SegmentName, P.MarkName;
            RETURN;
        END

        DECLARE @CleanInput VARCHAR(200) = UPPER(LTRIM(RTRIM(@i_FilterText)));
        
        -- 2. REMOVER CARACTERES ESPECIALES
        SET @CleanInput = REPLACE(REPLACE(REPLACE(@CleanInput, '.', ''), ',', ''), '-', '');

        -- Parseo de palabras individuales
        DECLARE @W1 VARCHAR(100) = NULL, @W2 VARCHAR(100) = NULL, @W3 VARCHAR(100) = NULL, @W4 VARCHAR(100) = NULL, @W5 VARCHAR(100) = NULL;
        
        SELECT 
            @W1 = MAX(CASE WHEN Id = 1 THEN Value END),
            @W2 = MAX(CASE WHEN Id = 2 THEN Value END),
            @W3 = MAX(CASE WHEN Id = 3 THEN Value END),
            @W4 = MAX(CASE WHEN Id = 4 THEN Value END),
            @W5 = MAX(CASE WHEN Id = 5 THEN Value END)
        FROM (
            SELECT ROW_NUMBER() OVER (ORDER BY (SELECT NULL)) AS Id, value AS Value
            FROM STRING_SPLIT(@CleanInput, ' ')
            WHERE value <> ''
        ) AS Words;

        -- 3. CONSULTA CON FILTRADO DIFUSO MULTI-PALABRA
        SELECT 
            P.ProductID, 
            P.ProductName, 
            P.ProductVariableName, 
            P.ProductVariablePrice, 
            P.CurrencyISO, 
            P.CategoryName, 
            P.SubcategoryName, 
            P.SegmentName, 
            P.MarkName, 
            SUM(P.StockAvilable) AS [StockAvilable]
        FROM DB_ECOMMERCE.SQM_GENERAL.VW_GENERAL_PRODUCTS P
        CROSS APPLY (
            SELECT 
                UPPER(ISNULL(P.ProductName, '')) AS NombreL,
                UPPER(ISNULL(P.ProductVariableName, '')) AS VarL,
                UPPER(ISNULL(P.CategoryName, '')) AS CatL,
                UPPER(ISNULL(P.SubcategoryName, '')) AS SubCatL,
                UPPER(ISNULL(P.MarkName, '')) AS MarcaL,
                UPPER(ISNULL(P.SegmentName, '')) AS SegL
        ) AS CleanData
        WHERE 
            -- Lógica intersección de filtros (AND dinámicos)
            (
                (@W1 IS NULL OR CleanData.NombreL LIKE '%' + @W1 + '%' OR CleanData.VarL LIKE '%' + @W1 + '%' OR CleanData.CatL LIKE '%' + @W1 + '%' OR CleanData.SubCatL LIKE '%' + @W1 + '%' OR CleanData.MarcaL LIKE '%' + @W1 + '%' OR CleanData.SegL LIKE '%' + @W1 + '%') AND
                (@W2 IS NULL OR CleanData.NombreL LIKE '%' + @W2 + '%' OR CleanData.VarL LIKE '%' + @W2 + '%' OR CleanData.CatL LIKE '%' + @W2 + '%' OR CleanData.SubCatL LIKE '%' + @W2 + '%' OR CleanData.MarcaL LIKE '%' + @W2 + '%' OR CleanData.SegL LIKE '%' + @W2 + '%') AND
                (@W3 IS NULL OR CleanData.NombreL LIKE '%' + @W3 + '%' OR CleanData.VarL LIKE '%' + @W3 + '%' OR CleanData.CatL LIKE '%' + @W3 + '%' OR CleanData.SubCatL LIKE '%' + @W3 + '%' OR CleanData.MarcaL LIKE '%' + @W3 + '%' OR CleanData.SegL LIKE '%' + @W3 + '%') AND
                (@W4 IS NULL OR CleanData.NombreL LIKE '%' + @W4 + '%' OR CleanData.VarL LIKE '%' + @W4 + '%' OR CleanData.CatL LIKE '%' + @W4 + '%' OR CleanData.SubCatL LIKE '%' + @W4 + '%' OR CleanData.MarcaL LIKE '%' + @W4 + '%' OR CleanData.SegL LIKE '%' + @W4 + '%') AND
                (@W5 IS NULL OR CleanData.NombreL LIKE '%' + @W5 + '%' OR CleanData.VarL LIKE '%' + @W5 + '%' OR CleanData.CatL LIKE '%' + @W5 + '%' OR CleanData.SubCatL LIKE '%' + @W5 + '%' OR CleanData.MarcaL LIKE '%' + @W5 + '%' OR CleanData.SegL LIKE '%' + @W5 + '%')
                AND @W1 IS NOT NULL
            )
        GROUP BY 
            P.ProductID, P.ProductName, P.ProductVariableName, P.ProductVariablePrice,
            P.CurrencyISO, P.CategoryName, P.SubcategoryName, P.SegmentName, P.MarkName
        ORDER BY 
            P.ProductVariablePrice ASC;

        -- Control de códigos de respuesta en variables de salida
        IF @@ROWCOUNT = 0
        BEGIN
            SET @o_ResultCode = 200; 
            SET @o_ResultMessage = 'Búsqueda finalizada sin coincidencias en el catálogo.';
        END
        ELSE
        BEGIN
            SET @o_ResultCode = 200;
            SET @o_ResultMessage = 'Búsqueda realizada satisfactoriamente.';
        END

    END TRY
    BEGIN CATCH
        SET @o_ResultCode = 500;
        SET @o_ResultMessage = 'Error SQL: ' + ERROR_MESSAGE();
        
        -- Retorno seguro ante fallos
        SELECT TOP 0 
            P.ProductID, 
            P.ProductName, 
            P.ProductVariableName, 
            P.ProductVariablePrice, 
            P.CurrencyISO, 
            P.CategoryName, 
            P.SubcategoryName, 
            P.SegmentName, 
            P.MarkName, 
            SUM(P.StockAvilable) AS [StockAvilable]
        FROM DB_ECOMMERCE.SQM_GENERAL.VW_GENERAL_PRODUCTS P 
        GROUP BY P.ProductID, P.ProductName, P.ProductVariableName, P.ProductVariablePrice, P.CurrencyISO, P.CategoryName, P.SubcategoryName, P.SegmentName, P.MarkName;
    END CATCH
END;
GO