USE [DB_EcommerceAgent]
GO

CREATE OR ALTER PROCEDURE [dbo].[USP_SOP_ELIMINAR_CARRITO]
    @p_PayloadJson NVARCHAR(MAX)
AS
BEGIN
    SET NOCOUNT ON;
    SET XACT_ABORT ON;

    DECLARE @v_Status VARCHAR(50) = 'ERROR';
    DECLARE @v_Mensaje NVARCHAR(MAX) = '';
    DECLARE @v_ConversationId BIGINT = NULL;
    DECLARE @v_FinalJson NVARCHAR(MAX);

    BEGIN TRY
        DECLARE @v_UserName NVARCHAR(100);
        DECLARE @v_TextoOriginal NVARCHAR(MAX);
        DECLARE @v_UserId INT = NULL;
        DECLARE @v_CartId INT = NULL;

        SELECT
            @v_UserName = LOWER(TRIM(JSON_VALUE(@p_PayloadJson, '$.username'))),
            @v_TextoOriginal = TRIM(JSON_VALUE(@p_PayloadJson, '$.message'));

        SELECT TOP 1 @v_ConversationId = ConversacionID
        FROM [dbo].[HistorialConversaciones] (NOLOCK)
        WHERE UsuarioID = @v_UserName AND Activo = 1
        ORDER BY FechaInicio DESC;

        SELECT TOP 1 @v_UserId = userId
        FROM [DB_ECOMMERCE].[SQM_SECURITY].[Tbl_Users] (NOLOCK)
        WHERE LOWER(userName) = @v_UserName AND userStatusId = 1;

        IF @v_UserId IS NULL
        BEGIN
            SET @v_Status = 'NOT_FOUND';
            SET @v_Mensaje = 'No se encontró el usuario para limpiar el carrito.';
            GOTO RESPUESTA_FINAL;
        END

        SELECT TOP 1 @v_CartId = cartId
        FROM [DB_ECOMMERCE].[SQM_GENERAL].[Tbl_Carts] (NOLOCK)
        WHERE cartUserId = @v_UserId AND cartStatusId = 1;

        IF @v_CartId IS NULL
        BEGIN
            SET @v_Status = 'SUCCESS';
            SET @v_Mensaje = 'Tu carrito ya se encuentra vacío.';
            GOTO RESPUESTA_FINAL;
        END

        DECLARE @v_CleanSearch NVARCHAR(500) = LOWER(@v_TextoOriginal);
        DECLARE @TerminosBorrado TABLE (Termino NVARCHAR(100));

        INSERT INTO @TerminosBorrado
        SELECT DISTINCT LOWER(TRIM(S.value))
        FROM STRING_SPLIT(@v_CleanSearch, ' ') S
        WHERE LEN(TRIM(S.value)) > 1
          AND NOT EXISTS (SELECT 1 FROM [dbo].[StopWordsCarrito] SW WHERE SW.Activo = 1 AND LOWER(SW.Palabra) = LOWER(TRIM(S.value)))
          AND NOT EXISTS (SELECT 1 FROM [dbo].[StopWords] W WHERE W.Activo = 1 AND LOWER(W.Palabra) = LOWER(TRIM(S.value)));

        DECLARE @v_CantidadTerminos INT = 0;
        SELECT @v_CantidadTerminos = COUNT(*) FROM @TerminosBorrado;

        BEGIN TRANSACTION;

        -- CASO A: vaciar todo el carrito
        IF @v_CantidadTerminos = 0
        BEGIN
            UPDATE [DB_ECOMMERCE].[SQM_GENERAL].[Tbl_CartDetails]
            SET cartDetailStatusId = 0,
                cartDetailModificatorId = @v_UserId,
                cartDetailModificationDate = GETDATE()
            WHERE cartDetailCartId = @v_CartId AND cartDetailStatusId = 1;

            SET @v_Mensaje = 'He removido todos los productos de tu carrito de compras exitosamente.';
        END
        -- CASO B: eliminar un producto específico
        ELSE
        BEGIN
            DECLARE @v_VariableIDABorrar INT = NULL;
            DECLARE @v_ProductNameBorrado NVARCHAR(150) = '';

            SELECT TOP 1
                @v_VariableIDABorrar = P.ProductVariableID,
                @v_ProductNameBorrado = P.ProductName + ' (' + P.ProductVariableName + ')'
            FROM [DB_ECOMMERCE].[SQM_GENERAL].[Tbl_CartDetails] D (NOLOCK)
            INNER JOIN [DB_ECOMMERCE].[SQM_GENERAL].[VW_GENERAL_PRODUCTS] P (NOLOCK) ON D.cartDetailProductVariableId = P.ProductVariableID
            WHERE D.cartDetailCartId = @v_CartId AND D.cartDetailStatusId = 1
              AND (
                  SELECT COUNT(*) FROM @TerminosBorrado T
                  WHERE LOWER(P.ProductName + ' ' + P.ProductVariableName) LIKE '%' + T.Termino + '%'
              ) > 0
            ORDER BY (
                SELECT COUNT(*) FROM @TerminosBorrado T
                WHERE LOWER(P.ProductName + ' ' + P.ProductVariableName) LIKE '%' + T.Termino + '%'
            ) DESC;

            IF @v_VariableIDABorrar IS NOT NULL
            BEGIN
                UPDATE [DB_ECOMMERCE].[SQM_GENERAL].[Tbl_CartDetails]
                SET cartDetailStatusId = 0,
                    cartDetailModificatorId = @v_UserId,
                    cartDetailModificationDate = GETDATE()
                WHERE cartDetailCartId = @v_CartId
                  AND cartDetailProductVariableId = @v_VariableIDABorrar
                  AND cartDetailStatusId = 1;

                SET @v_Mensaje = 'He removido ' + @v_ProductNameBorrado + ' de tu carrito de compras.';
            END
            ELSE
            BEGIN
                ROLLBACK TRANSACTION;
                SET @v_Status = 'NOT_FOUND';
                SET @v_Mensaje = 'No encontré ningún producto en tu carrito activo que coincida con tu solicitud de eliminación.';
                GOTO RESPUESTA_FINAL;
            END
        END

        COMMIT TRANSACTION;
        SET @v_Status = 'SUCCESS';

    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION;
        SET @v_Status = 'ERROR';
        SET @v_Mensaje = 'Error al procesar la remoción del carrito: ' + ERROR_MESSAGE();
    END CATCH

RESPUESTA_FINAL:
    SET @v_FinalJson = (
        SELECT
            CAST(ISNULL(@v_ConversationId, 0) AS VARCHAR(50)) AS [conversation_id],
            'bot' AS [emisor],
            6 AS [regla_id],
            'ELIMINAR_CARRITO' AS [nombre_regla],
            'eliminar_carrito' AS [Intent],
            @v_Mensaje AS [mensaje],
            JSON_QUERY('[]') AS [catalogo_productos],
            CAST(0 AS BIT) AS [requiere_confirmacion],
            CAST(0 AS BIT) AS [escalado_humano]
        FOR JSON PATH, WITHOUT_ARRAY_WRAPPER
    );

    IF @v_ConversationId IS NOT NULL
    BEGIN
        EXEC [dbo].[Sp_HistorialMensajes_Insert]
            @ConversacionID = @v_ConversationId,
            @ChatBot = 1,
            @Texto = @v_Mensaje,
            @FechaHora = NULL,
            @ReglaActivadaID = 6,
            @Metadata = @v_FinalJson;  -- 💡 FIX: JSON completo en metadata
    END

    SELECT @v_FinalJson AS [json_result];
END;
GO